/** {*/
/*    position: relative;*/
/*}*/
.card-bg_muted {
    background-color: dimgray;
    color: lightgray;
}

.card-bg_online {
    background-color: #FF8600;
}
.card-bg1 {
    background-color: #F78888;
}
.card-bg2 {
    background-color: #F3D250;
}
.card-bg3 {
    background-color: #ECECEC;
    color: #484848;
}
.card-bg4 {
    background-color: #90CCF4;
}
.card-bg5 {
    background-color: #9FEDD7;
}
.day-bg {
    background-color: #5DA2D5;
    opacity: 30%;
}
.card-time {
    font-size: .7rem;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#Collapse line {
    stroke: #f0f0f0;
}

button.navbar-toggler {
    position: fixed;
    top: 10px;
    left: 150px;
    z-index: 99999;
}

button.navbar-toggler[aria-expanded="false"] {
    left: 10px;
    transform: rotate(180deg);
}
button.navbar-toggler[aria-expanded="false"] line {
    position: relative;
    top: revert;
    left: revert;
    transform: rotate(180deg);
}




#add-button {
    background: linear-gradient(to right, #91D08A, #139D98);
    border-radius: 6px;
    height: 36px;
    width: 36px;
}
#add{
    height: 25px;
    width: 25px;
}
#add-btn {
    background-color: #24de7e;
    border-radius: 2em;
    cursor: pointer;
}

#courseToggle {
    font-size: 2rem;
    text-decoration: none;
    color: #ECECEC;
}

.top-container {
    display: flex;
    width: 100%;
}
.top-container span {
    width: 100%;
    display: flex;
    height: 2rem;
}
.top-container span h6 {
    margin: auto 0;
}
.top-container > * , .lecture-center, .discussion-head {
    margin-left: 10px;
    padding-left: 8px;
    /*background: #f0f0f0;*/
    /*color: #484848;*/
    border-radius: 8px;
    margin-bottom: 3px;
}

.lecture-center {
    margin-left: 20px;
    cursor: pointer;
}

.discussion-head {
    margin-left: 30px;
    cursor: pointer;
}

.lecture-center:hover, .discussion-head:hover, .top-container span:hover {
    background-color: #24de7e;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


.border-dash {
    border-style: dashed;
}


.card-title {
    width: fit-content;
}
my-card {
    position: relative;
}

my-card div div svg{
    position: absolute;
    border: 2px black;
    top: 0px;
    right: 0px;
}
my-card div div svg:hover {
    background-color: red;
    border-radius: 8px;
}
svg[id^='delete-layer'] {
    height: 20px;
    width: 20px;
    margin: auto 0 auto 50%;
}

svg[id^='delete-layer']:hover circle {
    fill: red;
}
my-card:hover {
    background-color: #24de7e;
    z-index: 9999;
}

/* sidebar */
#sidebar {
    background: #484848;
    color: #f0f0f0;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    /*z-index: 9999;*/
}

.content {
    padding-left: 260px;
    padding-right: 20px;
    width: 100%;
    height: 100vh;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
div .row {
    height: 7vh;
}